/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
} */
/* Загальні стилі */
/* Загальні стилі */
/* Загальні стилі для інпуту */
#datetime-picker {
  width: 272px;
  height: 40px;
  font: 400 16px / 150% var(--font-family);
  letter-spacing: 0.04em;
  color: #2e2f42; /* Колір тексту за замовчуванням */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  outline: none;
}

#datetime-picker:hover {
  background-color: #e6e6e6;
  border: 1px solid #fff;
}

#datetime-picker:focus {
  outline: none;
}

/* Стиль для інпуту з невалідною датою */
#datetime-picker.invalid-date {
  color: #989898; /* Змінюємо колір тексту на сірий */
  background-color: #f5f5f5;
}

button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 45px;
  font: 500 16px / 150% var(--font-family);
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  cursor: pointer;
  border: 1px solid #4e75ff;
  transition: background-color 0.3s, color 0.3s;
}

button[data-start]:hover {
  background: #6c8cff;
  border: 1px solid #6c8cff;
}

button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
  border: 1px solid #cfcfcf;
}

.timer {
  display: flex;
  gap: 24px;
  margin-top: 32px;
  width: 346px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82px;
  height: 72px;
}

.label {
  font: 400 16px / 150% var(--font-family);
  color: #2e2f42;
}

.value {
  font: 400 40px / 120% var(--font-family);
  letter-spacing: 0.04em;
  color: #2e2f42;
}
